allow vendor_init fpsensor_fp_device:chr_file { getattr read write ioctl open };
#allow vendor_init system_data_file:dir { write add_name create getattr read open ioctl setattr };
